$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$BrainFlix-Black-primary: #323232;
$BrainFlix-Blue-primary: #0095ff;
$Silver: #afafaf;
$White: #ffffff;
$BrainFlix-DarkBlack-secondary: #000000;
$BrainFlix-DarkBlue-secondary: #0065ad;
$Mercury: #e1e1e1;
$Alabaster: #fafafa;
