@import "../../../styles/partials/variables";
@import "../../../styles/partials/mixins";

.videosContainer {
  border-top: 1px solid $Mercury;
  margin-left: 1rem;
  @include tablet {
    margin-top: 1rem;
    width: 91%;
  }
  @include desktop {
    border-top: none;
    margin: 0;
  }

  &__header {
    font-size: 1rem;
    color: $Silver;
    font-weight: 600;
    @include tablet {
      padding: 1rem 0 1rem 1rem;
      font-size: 0.7rem;
      @include desktop {
        padding: 1rem 0 0 1rem;
      }
    }
  }
}
