@import "../styles/partials/mixins";
@import "../styles/partials/variables";

.main {
  &__detailsContainer {
    @include desktop {
      display: flex;
      justify-content: flex-start;
    }
  }
  &__details {
    @include desktop {
      width: 65%;
    }
  }
  &__videoList {
    @include desktop {
      margin-top: -14rem;
      border-left: 1px solid $Mercury;
    }
  }
}
