@import "../../../styles/partials/variables";
@import "../../../styles/partials/mixins";

.videoDetails {
  &__header {
    font-size: 1.5rem;
    padding-left: 1rem;
    @include tablet {
      margin-bottom: 0;
      font-size: 2rem;
      font-weight: 900;
    }
  }
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $Mercury;
    border-bottom: 1px solid $Mercury;
    padding: 0 1rem;
    @include tablet {
      border-top: none;
    }
  }
  &__info {
    display: flex;
    flex-direction: row;
  }
  &__author {
    font-size: 1rem;
    @include tablet {
      padding-right: 2rem;
      font-weight: 700;
    }
  }
  &__date {
    @include tablet {
      color: $Silver;
    }
  }
  &__images {
    display: flex;
    flex-direction: row;
    @include tablet {
      color: $Silver;
    }
  }
  &__icon {
    display: flex;
  }

  &__title {
    width: 100%;
    padding: 0 1rem;
    font-size: 0.9rem;
    @include tablet {
      margin-left: 0.5rem;
      font-size: 1rem;
      @include desktop {
        margin-left: 0;
        width: 97%;
      }
    }
  }
}
.icon__logo {
  width: 1.2rem;
  height: 1.2rem;
  padding-right: 0.5rem;
}
.eyeLogo {
  @include tablet {
    padding-right: 2rem;
  }
}
