@import "../../../styles/partials/variables";
@import "../../../styles/partials/mixins";

.commentContainer {
  &__count {
    font-weight: 700;
    padding-bottom: 1rem;
    padding-left: 1rem;
    @include tablet {
      padding-bottom: 0;
      padding-top: 1rem;
      margin-left: 0.5rem;
      @include desktop {
      }
    }
  }
  &__header {
    font-size: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
  }
  &__box {
    display: flex;
  }
  &__subheader {
    color: $Silver;
    font-size: 1rem;
    font-weight: 700;
    padding-bottom: 0.2rem;
    margin-bottom: 0;
    @include tablet {
      padding-bottom: 0;
    }
  }
  &__avatar {
    width: 3rem;
    object-fit: cover;
    border-radius: 50%;
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 2rem;
    @include tablet {
      @include tablet {
        width: 2.5rem;
        height: 2.5rem;
        margin-left: 0.5rem;
      }
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  &__tablet {
    @include tablet {
      display: flex;
      flex-direction: row;
      @include desktop {
        width: 70%;
      }
    }
  }

  &__input {
    width: 66vw;
    padding-top: 0.5rem;
    padding-bottom: 4rem;
    padding-left: 0.5rem;
    color: black;
    font-weight: 500;
    border-radius: 4px;
    border: 1px solid $Silver;
    background-color: $Alabaster;
    @include tablet {
      padding-top: 0;
      height: 2.5rem;
      padding-bottom: 0;
      margin-top: 1rem;
    }
  }
  &__button {
    @include button;
    margin-top: 1rem;
    @include tablet {
      margin-left: 1rem;
      height: 2.5rem;
      width: 30%;
    }
  }
  &__button--text {
    width: 80%;
  }
  &__comments {
    padding-bottom: 1rem;
  }
}
