@import "./styles/partials/mixins";
@import "./styles/partials/variables";

.app {
  @include desktop {
    display: flex;
    width: 85%;
    margin: 0 auto;
  }
  &__commentDetails {
    @include desktop {
      width: 75%;
      border-right: 1px solid $Mercury;
    }
  }
  &__videoDetails {
    @include desktop {
      width: 30%;
    }
  }
}
